<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                
                    <i class="fa-solid fa-user-plus"></i>&nbsp;
                    Add employee page
                
            </h1>
    
                <p style="text-align: justify;">
                    This is a dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit neque perspiciatis porro cum, distinctio beatae officia asperiores temporibus minima velit magnam debitis iste laudantium! Iste voluptates labore voluptatibus recusandae qui!
                </p>
        </div>
    </div>
    <!--add employee form-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form (ngSubmit)="saveemployee()" [formGroup]="saveForm" class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="id" formControlName="id" type="text" class="form-control" placeholder=" id"  />
                    </div>
                    <div class="mb-2">
                        <input name="ename" formControlName="ename"  placeholder="Name" type="text" class="form-control">
                    </div>
                    
                 <div class="mb-2">
                        <input name="email"formControlName="email"   placeholder="Email,ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="photo" formControlName="photo"  placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="mobile" formControlName="mobile"  placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <!-- <div class="mb-2">
                        <input name="company" formControlName="id"   placeholder="Company" type="text" class="form-control">
                    </div> -->
                    <div class="mb-2">
                        <input name="title" formControlName="title"  placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input name="salary" formControlName="salary"  placeholder="salary" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  value="Create" type="submit" class="btn btn-success">
                        <a routerLink="/employee/admin" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                                                    <!-- <img src="" alt="no image" class=""> -->

            </div>
        </div>

    </div>

</div>
